/* Use the Bootstrap theme and override some styles */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
body {
    background-color: #212121;
    color: white;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    pointer-events: auto;
    background-color: grey;
  
  }

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(238, 255, 0, 0.2), 0 6px 20px 0 rgba(211, 194, 12, 0.19);

  }

.card-text {
    color: #000; /* black */
    font-size: small;
    }
.card-title {
    color: rgb(211, 90, 90); /* black */

}

.card-foot {
    color: rgb(177, 204, 0); /* black */
    font-size: x-small;

}

.card-columns {
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
    }

    .text-field-container {
        word-wrap: break-word;
     }

     .arrow-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    
    
    .arrow-button i {
        font-size: 20px;
    }

    /* .arrow-button i.active {
         background-color: #ccc; 
        color: blue;
    } 
    */
    
    .arrow-button i.fa-arrow-up:active {
        background-color: #ccc;
        color: green;
    }
    
    .arrow-button i.fa-arrow-down:active {
        background-color: #ccc;
        color: red;
    }
    