body#landing {
    background-color: #404CCF;
    padding: 12px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#landing-description {
    font-size: 2rem;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    user-select: none;
}


#logo-landing {
    font-size: 4rem;
    text-align: center;
    color: white;
    user-select: none;
}

p#landing-description {
    text-align: center;
    color: white;
    font-size: 0.75rem;
    margin-bottom: 25%;
}

button.btn.btn-outline-light {
    padding: 15px;
    margin-top: 1em;
    font-size: 1rem;

}

button.btn.btn-light {
    padding: 15px;
    font-size: 1rem;

}

a#landing-login {
    text-decoration: none;
    color: inherit;
}

img#landing-icons {
    max-width: 200px !important;
    max-height: 200px !important;
    width: auto;
    height: auto;
    margin: auto;
    pointer-events: none;
}

img#flyer-icon {
    max-width: 225px !important;
    max-height: 225px !important;
    width: auto;
    height: auto;
    margin: auto;
    pointer-events: none;
}


.row.mt-3 {
    justify-content: center;
    align-items: center;

}

.carousel-indicators {
    margin-bottom: 0;
    margin-top: 10em;
}

.carousel-inner {
    height: 60vh;
}