{% extends "base.html" %}

{% block title %}{% endblock %} 

{% block header %}{%endblock %} 

{% block body %}

<html>
  <body>
    <div id = "account-container">
      <h1 id = "account-text">
        Account
      </h1>
    </div>
      <br>
      <div class="container">
        <form method="POST" action="{{ url_for('views.displayAccount') }}">
          {{ csrf_token }}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="{{ current_user.username }}">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ current_user.email }}">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
      <div class="wrap">
        <button class="button" data-bs-toggle="modal" data-bs-target="#confirmlogout">Logout</button>
      </div>
      <div class="modal fade" id="confirmlogout" tabindex="-1" aria-labelledby="confirmlogout" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Logout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6 class="m">Are you sure you want to logout? </h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" onclick="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        //a tag was breaking my button so I did this
        function logout() {
          window.location.href = "{{ url_for('auth.logout') }}";
        }
        </script>

</html>

{%endblock %} 