{% extends "base.html" %} 
{% block title %} {% endblock %} 
{% block header%} {% endblock %} 
{% block body %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename = '/css/edit.css') }}"
/>

<div class="full-page-container"> 

  <div class="flyer-container">
    <h1>Displayed flyer</h1>

    <img 
      class="img-fluid"
      src="{{toSend['flyerPath']}}" alt="Uploaded image"
    >
    <br>
  </div>

  <div class="edit-container">

    <form method="post">
      <label for="title">Title:</label>
      <input type="text" 
        id="title" 
        name="title"
        value="{{toSend['title']}}">
      <br><br>
      <label for="date">Date:</label>
      <input type="date" 
        id="date" 
        name="date"
        value="{{toSend['date']}}">
      <br><br>
      <!-- Need to see how to auto insert Start and End Times-->
      <label for="start_time">Start Time:</label>
      <input type="time" 
        id="start_time" 
        name="start_time"
        value="{{toSend['start_time']}}">
      <br><br>
      <label for="end_time">End Time:</label>
      <input type="time" 
        id="end_time" 
        name="end_time"
        value="{{toSend['end_time']}}">
      <br><br>
      <label for="location">Location:</label>
      <input type="text" 
        id="location" 
        name="location"
        value="{{toSend['location']}}">
      <br><br>
      <label for="description">Description:</label>
      <textarea id="description" 
        name="description"
      >{{toSend['desc']}}</textarea>
      <br><br>
      <input type="submit" value="Edit">
    </form>

    <button onclick="window.location.href='{{toSend['calURL']}}'">Click to add to Personal Calendar</button>

    
    <!-- place holder for checking, delete later-->
    <h1>Extracted Information</h1>

    'title': {{toSend['title']}}, <br>
    'date':{{toSend['date']}}  <br>
    'time': {{toSend['time']}}  <br>
    'start_time':  {{toSend['start_time']}}  <br>
    'end_time':{{toSend['end_time']}}  <br>
    'location': {{toSend['location']}} <br>
    'desc': {{toSend['desc']}}  <br>
    'org': {{toSend['org']}} <br>

    <!-- <h1>Displayed file</h1> -->

    <!-- <img src="{{flyerPath}}" alt="Uploaded image" /> -->

<!--<img src="{{ url_for('static', filename='UploadedImages/uploadedImage.png') }}" alt="Uploaded image">-->
  </div>
</div>
{% endblock %}