{% extends "base.html" %} {% block title %}{% endblock %} {% block header
%}{%endblock %} {% block body %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename = '/css/history.css') }}"
/>

<form class="search-box">
  <input type="text" placeholder="Search Flyers..." />
  <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
  <button type="button" class="microphone-btn">
    <i class="fa fa-microphone"></i>
  </button>
</form>
<div class="history-container">
  {% for scan in userScanHist|sort(attribute='updated_at',reverse=True) %}

  <p class="card-text">Last Updated: {{ scan.updated_at }}</p>


  <!----------------------------------- We can change the href here for the attribute tag to the edit page for the unique scanned flyer. ------------------------------------------------------------------ -->
  <a id="scanned-container" href="javascript:;" onclick="Route()">
    <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

    
    <div class="scanned-container">
      <img
        id="image-thumbnail"
        width="150"
        height="150"
        src="{{ scan.flyer_url }}"
        alt="{{ scan.flyer_name }}"
      />
      <p id="flyer-name">{{ scan.flyer_name }}</p>
      <!-- scan.id does not work, need current ID to route to edit-->
      <p id="flyer-id" style="display:none;">{{ scan.id }}</p>
    </div>
  </a>

  {% endfor %} 
</div>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='/js/history.js') }}"
></script>
{% endblock %}