{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block header %}Questions{% endblock %}
{% block body %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-auto col-md-auto col-lg-auto">
          <div class="card-columns" style="column-count: 1;">
            {% for post in posts|reverse %}
              <a href="/post/{{ post.id }}" class="card mb-auto col-md-auto">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.description }}</p>
                  <small class="card-foot">Posted by {{ post.author.username }} ({{post.created_at}})</small>
                  <div class="arrow-button">
                    <i class=""> {{ post.number_of_votes }} Votes </i>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>      
{% endblock %}
    

