{% extends 'base.html' %} {% block title %}{% endblock %} {% block header
%}{%endblock %} {% block body %}

<link rel="stylesheet" href="../static/css/camera.css" />

<html>
  <body>

    <div id="welcome-container">
      <h1 id="welcome-user">
        Welcome back, <br />
        {{ toSend['person'] }}!
      </h1>
    </div>
    
    <div id="upload-container">
      <div id="overlay1" style="display: none" >
        <div class="loader"></div>
      </div>

      <div class="image-upload">
        <label for="file-upload">
          <img id="uploadImgID"
            src="{{url_for('static', filename='images/Upload.png')}}"
            width="85"
            style="pointer-events: none"
          />
        </label>
        <p id="upload-button-label">Upload Flyer</p>

        <form
          id="file-upload-form"
          method="POST"
          enctype="multipart/form-data"
          action="{{ url_for('views.upload_file') }}"
          style="display: none"
        >
          <input
            id="file-upload"
            type="file"
            name="file"

            onchange="document.getElementById('upload-button-label').style.display='none';
                      document.getElementById('uploadImgID').style.display='none';
                      document.getElementById('overlay1').style.display='flex';
                      document.getElementById('file-upload-form').submit();"
          />
        </form>
      </div>
    </div>   

            onchange="document.getElementById('file-upload-form').submit();"
          />
        </form>
      </div>
    </div>

  </body>
</html>
{%endblock %}
