{% block title %} {% endblock %}

<h1>{% block header %}{% endblock %}</h1>

{% block nav%} {% endblock%} {% block body %}

<html>
  <head>
    <link rel="stylesheet" href="../static/css/landing.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = '/css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = '/css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = '/css/landing.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="manifest" href="../static/manifest.json" />

    <link rel="stylesheet" href="../static/css/index.css" />

    <link rel="stylesheet" href="../static/css/account.css" />

    <!-- Icons -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Icons -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
  </head>

  <body id="landing">
    <div class="container" id="landing">
      <div class="row">
        <div class="col-xs-12">
          <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="{{url_for('static', filename='images/Flyers.png')}}"
                  class="d-block w-100"
                  alt="Flyers Icon"
                  id="flyer-icon"
                />
                <h2 id="landing-description">
                  Stay organized with event flyers
                </h2>
              </div>
              <div class="carousel-item">
                <img
                  src="{{url_for('static', filename='images/Calendar.png')}}"
                  class="d-block w-100"
                  alt="Calendar Icon"
                  id="landing-icons"
                />
                <h2 id="landing-description">
                  Import events into your personal calendar
                </h2>
              </div>
              <div class="carousel-item">
                <img
                  src="{{url_for('static', filename='images/Location.png')}}"
                  class="d-block w-100"
                  alt="Location Icon"
                  id="landing-icons"
                />
                <h2 id="landing-description">
                  Easily access your saved flyers from anywhere
                </h2>
              </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button> -->
          </div>

          <div class="row mt-3">
            <button
              type="submit"
              class="btn btn-light"
              onclick="location.href= '/signup'"
            >
              Get Started
            </button>
            <button
              type="submit"
              class="btn btn-outline-light"
              onclick="location.href= '/login'"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='/js/index.js') }}"
></script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='/js/serviceWorker.js') }}"
></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
