{% extends 'base.html' %} {% block title %}Landing Page {% endblock %}

<h1>{% block header %}{% endblock %} Test</h1>

{% block nav%} {% endblock%}

{% block body %}

<html>
  <head>
    <link rel="stylesheet" href="../static/css/landing.css" />
  </head>

  <body id="landing">
    <div class="container" id="landing">
      <div class="row">
        <div class="col-xs-12">
          <h2 id="logo-landing">FlyerScan</h2>
          <p id="landing-description">Stay up to date on events!</p>

          <div class="row mt-3">
            <button
              type="submit"
              class="btn btn-outline-light"
              onclick="location.href= '/login'"
            >
              Login
            </button>
          </div>
          <div class="row mt-3">
            <button
              type="submit"
              class="btn btn-light"
              onclick="location.href= '/signup'"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
