{% extends 'base.html' %}{% block title %} Signup Page {% endblock %}

<html>
  <head>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>

  <body>
    <h1>{% block header %}{% endblock %}</h1>
    {% block nav%} {% endblock%}
    {% block body %}

    <div class="container" id="signup">
      <div class="row">
        <div class="col">
          <h2 id="logo"><a href="/"> FlyerScan</a></h2>

          <form method="POST">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="name@example.com"
                value="{{ request.form.email }}"
              />
              <label for="email">Enter New Email Address</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="username"
                value="{{ request.form.username }}"
              />
              <label for="username">Enter New Username</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Password"
                value="{{ request.form.password1}}"
              />
              <label for="password">Enter New Password</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Password"
                value="{{ request.form.password2 }}"
              />
              <label for="password">Confirm New Password</label>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
